* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  color: white;
  background-color: #121212;
  font-family: "Roboto Mono", monospace;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topPart {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 220px;
  margin-top: 100px;
  align-items: center;
}

.timeContainer {
  text-align: right;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.hours {
  font-size: 100px;
  font-weight: bold;
}

.seconds {
  font-size: 75px;
  color: red;
}

.date {
  font-size: 28px;
}

.city {
  text-align: center;
}

.city > h3 {
  font-size: 35px;
}
.city > p {
  font-size: 30px;
}

.bottomPart {
  width: 920px; /* Adjust the width as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent inner divs from wrapping */
  cursor: pointer;
}

.weatherItem {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 10px 0px 20px 0;
  background-color: rgba(211, 211, 211, 0.144);
  margin: 10px 10px 30px 0px;
  border-radius: 15px;
}

.weatherDayName {
  font-size: 22px;
  color: gray;
}

.weatherTime {
  margin-bottom: 20px;
  font-size: 20px;
  opacity: 0.7;
}

.weatherTemp {
  font-size: 22px;
}

.bottomPart::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}

.bottomPart::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.bottomPart::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.bottomPart::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.weatherIcons {
  fill: white;
  margin: 10px 0;
}
