* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  color: white;
  background-color: #121212;
  font-family: "Roboto Mono", monospace;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
  height: 100vh;
}

.topPart {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 3fr;
  text-align: center;
  height: 60vh;
}

.time {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-top: 60px;
}

.hours {
  font-size: 150px;
  font-weight: bold;
}

.seconds {
  font-size: 100px;
  color: red;
  font-weight: bold;
}

.date {
  font-size: 28px;
}

.city > h3 {
  font-size: 35px;
}
.city > p {
  font-size: 30px;
}

.bottomPart {
  width: 80%;
  overflow-x: auto;
  white-space: nowrap;
  cursor: pointer;
  margin: auto;
}

.weatherItem {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 10px 0px 20px 0;
  background-color: rgba(211, 211, 211, 0.144);
  margin: 10px 10px 30px 0px;
  border-radius: 15px;
}

.weatherDayName {
  font-size: 22px;
  color: gray;
}

.weatherTime {
  margin-bottom: 20px;
  font-size: 20px;
  opacity: 0.7;
}

.weatherTemp {
  font-size: 22px;
}

.bottomPart::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}

.bottomPart::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.bottomPart::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.bottomPart::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.weatherIcons {
  fill: white;
  margin: 10px 0;
}

.cityWeather {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cityContainer {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.weatherCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cityDayName {
  font-size: 25px;
}

.cityIcon {
  width: 30px;
}

.cityDayTemp {
  font-size: 20px;
  margin-bottom: 5px;
}

.weatherCard1 {
  background-color: rgba(211, 211, 211, 0.144);
  padding: 10px;
  border-radius: 12px;
}
